!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Tuiteeeeeeeeer
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/dangle.css')
  body
    block body